@import './src/assets/index.scss';

.product__title{
  font-family: $amatic-sc-font;
  font-size: $font-24;
  font-weight: 700;
  text-align: center;
}

.product__block{
  display: flex;
  &-left{
    width: 50%;
  }
  &-right{
    width: 50%;

  }
}