@import '../../assets/index.scss';

.our-mailing-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $amatic-sc-font;
  font-weight: bold;
  text-align: center;
  background-color: $Harp;
  font-size: 40px;
  margin: 120px 0 70px 0;
  #send-mail {
    margin: 0 20px 61px;

  }

  @include breakpoint(sm-only) {

    &_text {
      font-size: 36px;
      font-weight: bold;
      margin: 38px 76px 31px;
    }

  }
;
  @include breakpoint(md-up) {

    &_text {
      font-weight: bold;
      line-height: 50px;
      margin: 50px 90px 40px;
    }

  }
  @include breakpoint(lg-only) {
    &_col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: baseline;
      justify-items: baseline;
    }
    &_text {
      margin: 53px calc((200px - 100%) / 2) 66px 0px;
    }

    #send-mail {
      width: calc((100% - -580px) / 2);
      font-family: sans-serif;
      font-weight: normal;
    }
  }

}