@import './src/assets/index.scss';

.category-filter_menu {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  justify-content: space-evenly;
}



@include breakpoint(lg-only) {
    .category-filter_menu {
      flex-flow: row wrap;
    }
  }