@import 'src/assets/index';

.logotip {
    width: 100%;
    padding-bottom: 40px;
    
    @include breakpoint(lg-only) {
      display: flex;
      flex-direction: column; 
      border: none; 
      width: 40%;
    }
    .ant-anchor-ink::before {
        display: none;        
    }
}

