@import 'src/assets/index';

.logotip {
    display: flex;
    flex-direction: column; 
    border: none; 
    
    @include breakpoint(md-only) {
        width: 100%;
        padding-bottom: 40px;
    }
    .ant-anchor-ink::before {
        display: none;
    }
}

