@import './src/assets/index.scss';

.Ñollapse {
  &__list {
    min-width: 100%;
    border-bottom: 2px solid $footer-bg-color;
    margin-bottom: 40px;
  }

  &__item {
    border: 2px solid $footer-bg-color;
    @include fluid-type($font-14, $font-16);
  }

  &__heading {
    font-weight: 500;
    text-align: center;
  }

  &__text {
    font-weight: 300;
    text-align: justify;
    color: $logo-text-color;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &--strong {
      font-weight: 900;
      color: $text-color;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  color: $logo-text-color;
  padding: 22px 0 20px;
  letter-spacing: 0.3em;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  color: $text-color;
  transform: rotate(90deg);
}

.ant-collapse-icon-position-right > .ant-collapse-item-active > .ant-collapse-header .ant-collapse-arrow {
  color: $text-color;
  transform: rotate(-180deg);
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0 20px 20px;
}
