@import 'src/assets/index';

.guide {
  margin-bottom: 85px;

  &__container {
    display: flex;
    align-items: center;

    &--img {
      display: flex;
      margin-right: 44px;
      width: 800px;
      height: 480px;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: fit-content;
  }

  &__heading {
    margin-bottom: 17px;
    font-family: $cormorant-garamond-font;
    @include fluid-type($font-36, $font-48);
    color: $text-color;
  }

  &__text {
    margin-bottom: 32px;
    max-width: 255px;
    font-size: $font-16;
    color: $text-color;
  }
}

.guide-mob {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  background-image: linear-gradient(rgba(54, 64, 61, 0.3), rgba(54, 64, 61, 0.3)), url(https://savvy-tots.s3.eu-west-3.amazonaws.com/guide-to-favorite-looks.png);
  background-size: 100%, 160%, cover;
  background-repeat: no-repeat;
  background-position: center 80%;

  @include breakpoint(md-up) {
    background-size: 100%, 110%, cover;
    background-position: center 80%;
  }
  @include breakpoint(md-only) {
    background-size: 100%, 118%, cover;
    background-position: center 56%;
  }


  &__heading {
    margin-bottom: 21px;
    font-family: $cormorant-garamond-font;
    font-size: $font-36;
    color: $White;
  }

  &__text {
    margin-bottom: 54px;
    max-width: 255px;
    text-align: center;
    font-size: $font-16;
    color: $White;
  }
}
