$White: #FFFFFF;
$Harp: #DBEBE7;
$Sinbad: #A8D6CB;
$Corduroy: #5E6A67;
$CapeCod: #36403D;


$basic-color: $White;
$footer-bg-color: $Harp;
$main-color: $Sinbad;
$logo-text-color: $Corduroy;
$text-color: $CapeCod;
