%links {
  font-weight: 300;
  font-size: 24px;
  color: $text-color;
  transition: font-weight 0.5s linear;

  &:hover,
  &:focus {
    font-weight: 500;
  }
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: $main-color;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid $main-color;
}

.ant-menu-item a:hover {
    color: $main-color;
}
